NEXT_PUBLIC_SUPABASE_URL=https://ybwqmrrlvmpdikvmkqra.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_STORAGE_LINK=https://ybwqmrrlvmpdikvmkqra.supabase.co/storage/v1/object/public

NEXT_CPU_PROF=1
NODE_ENV=development

